{% extends 'webui/base.html' %}

{% block title %}Modify Password{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Modify Password</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <button type="submit" class="btn btn-success">Change Password</button>
    </form>
</div>
{% endblock %}
